user_uuid="d31b2564-f5b7-4f3f-8c00-4752c9d260c9"
bucket_name="ido6twmsrtlb4v2ksmx2xkda3lksf04s"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version=2