terratowns_endpoint="https://terratowns.cloud/api"
tvseries = {
  public_path = "/workspaces/terraform-beginner-bootcamp-2023/public/tvseries"
  content_version = 2 
}
food = {
  public_path = "/workspaces/terraform-beginner-bootcamp-2023/public/firfir"
  content_version = 1 
}